@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url("/bg.png");
  background-size: cover;
  @apply bg-black text-white;
}

* {
  box-sizing: border-box;
}

input:focus {
  outline: none !important;
}

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}

.flex-center {
  @apply flex items-center justify-center;
}

.text-gif {
  background-image: url("https://i.pinimg.com/originals/84/d8/7e/84d87eb7e536135161c55887d878d44b.gif");
  background-size: cover;
  background-position: bottom;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.trans {
  @apply transition duration-200;
}

.btn {
  @apply rounded px-4 py-1 transition duration-200;
}
